/* button source https://dev.to/gscode/20-css-buttons-4cni */
body{
  background-color: black;
}

.cipher{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border: 2px white solid;
    height: 50px;
    color: white;
    font-size: 40px;
    text-align: center;
}

#MorseCode-Table{
  margin-right: 5%;
  margin-left: 5%;
}

.cells {
    letter-spacing: 1px;
    font-size: 20px;
    color: white;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

td {
    text-align: center;
}

.input-boxes{
  border: 2px solid rgb(200,200,200);
  letter-spacing: 5px;
  color: white;
  margin-right: 50px;
}

input {
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 10px 10px;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 2rem 0;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: 2px solid aqua;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
}

footer {
  position: absolute;
  width:100%;
  bottom:0;
  text-align: center;
  padding: 3px;
  /*background-color: lightgray;*/
  color: white;
}

a {
  color: white;
}

#credit{
  font-size: 15px;
}
/* mobile reponsiveness */

@media only screen and (max-width: 425px) {
    #MorseCode-Table {
      position: relative;
      margin-right: 5%;
      bottom: 0px;
      padding: 10px 10px;
    }
    footer{
      position: relative;
    }
    #keyboard-cont {
      width: 95%;
      margin: 1rem 0rem;
    }
    .keyboard-button {
      background-color: darkgray;
      height: 60px;
      color: white;
      font-size: 0.9rem;
      font-weight: 700;
      padding: 0.5rem;
      margin: 0 2px;
      cursor: pointer;
      text-transform: uppercase;
      /* background-color: #636363; */
      /* border-radius: 7px;  */
    } 
} 

@media only screen and (max-width: 375px) {
  #MorseCode-Table {
    position: relative;
    margin-right: 5%;
    bottom: 0px;
    padding: 10px 10px;
  }
  footer{
    position: relative;
  }
  #keyboard-cont {
    margin: 1rem 0;

  }
  .keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 1px;
    cursor: pointer;
    text-transform: uppercase;
    /* background-color: #636363; */
    /* border-radius: 7px;  */
  } 
}

